.main{
    background-color: lightseagreen;
}

.first-line{
    font-family: Helvetica Neue;
    color: #080808;
    background-color: #ffffff;
    width: auto; margin-top: 20%;
}

.first{
    font-family: Helvetica Neue;
    color: #080808;
    background-color: #ffffff;
    width: auto;
}